.form__section {
    padding: 1em;
    margin: 1em 0;
    width: 25%;
    background-color: var(--grey-bg);
}

.form__container {
    width: 100%;
}

.form__group {
    padding: 0.5em;
}

.form__label {
    display:block;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.form__input {
    border: 2px solid seashell;
    outline: none;
    padding: 0.3em 0.8em;
}

.form__input:focus {
    border-color: var(--border-blue);
}

.form__input::placeholder {
    font-size: 1.1em;
}

.form__group-input {
    display: flex;
    align-items: center;
}

.form__btn {
    padding: 0.45em;
    background-color: var(--border-blue);
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.form__btn:hover {
    background-color: var(--blue-h)
}

/*Icons reset*/
.fa-money-bill-1, .fa-car-burst {
    margin-left: 0;
}